[Desktop Entry]
Exec=mintwelcome
Icon=/usr/lib/linuxmint/mintWelcome/icons/logo.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GNOME;GTK;Settings;DesktopSettings;
NotShowIn=KDE;
StartupNotify=false
Name=Welcome Screen
Name[af]=Welkom Skerm
Name[am]=እንኳን ደህና መጡ
Name[ar]=شاشة الترحيب
Name[ast]=Pantalla de bienvenida
Name[be]=Экран вітання
Name[be@latin]=Экран вітання
Name[bg]=Приветстващ Екран
Name[bn]=ওয়েলকাম স্ক্রিন
Name[bn_IN]=ওয়েলকাম স্ক্রিন
Name[bs]=Ekran dobrodošlice
Name[ca]=Pantalla de benvinguda
Name[ca@valencia]=Pantalla de benvinguda
Name[cs]=Uvítací obrazovka
Name[csb]=Ekran przëwitaniô
Name[cy]=Sgrîn Groeso
Name[da]=Velkomstskærm
Name[de]=Willkommensbildschirm
Name[el]=Οθόνη Καλωσορίσματος
Name[eo]=Bonvena ekrano
Name[es]=Pantalla de bienvenida
Name[es_AR]=Pantalla de bienvenida
Name[et]=Tervituskuva
Name[eu]=Ongi etorri pantaila
Name[fa]=صفحه خوش‌آمدگویی
Name[fi]=Aloitusnäkymä
Name[fil]=Screen ng Pagbati
Name[fo]=Vælkomstskíggi
Name[fr]=Écran d'accueil
Name[fr_CA]=Écran d'accueil
Name[ga]=An Scaoileán Fáilte
Name[gd]=Sgrìn fhàilteachaidh
Name[gl]=Pantalla de benvida
Name[he]=מסך "ברוכים הבאים"
Name[hr]=Zaslon dobrodošlice
Name[hu]=Üdvözlőképernyő
Name[id]=Layar Selamat Datang
Name[is]=Upphafsskjár
Name[jv]=Tirai layar sugeng rawuh
Name[ko]=환영 화면
Name[ky]=Учурашуу экраны
Name[la]=Salve
Name[lb]=Wëllkom Bildschirm
Name[lt]=Susipažinimas su Linux sistema
Name[lv]=Sveiciena ekrāns
Name[mg]=Tongasoa
Name[ml]=സ്വാഗതം
Name[mr]=स्वागत
Name[ms]=Skrin Aluan
Name[nb]=Velkomstskjerm
Name[nds]=Willkommensnachricht
Name[ne]=स्वागत स्क्रीन
Name[nl]=Welkomstscherm
Name[nn]=Velkomstskjerm
Name[oc]=Ecran d'acuèlh
Name[om]=Agarsiiftuu anaadhufuu
Name[pa]=ਜੀ ਆਇਆਂ ਨੂੰ ਸਕਰੀਨ
Name[pl]=Ekran powitalny
Name[pt]=Ecrã de boas vindas
Name[pt_BR]=Tela de Boas Vindas
Name[pt_PT]=Ecrã de boas vindas
Name[ro]=Bun venit
Name[ru]=Экран приветствия
Name[si]=පිළිගැනීමේ තිරය
Name[sk]=Uvítacia obrazovka
Name[sl]=Pozdravni zaslon
Name[so]=Shaashadda Soodhaweynta
Name[sq]=Ekrani i Mirëseardhjes
Name[sr]=Екран добродошлице
Name[sr@ijekavianlatin]=Екран добродошлице
Name[sr@latin]=Ekran dobrodošlice
Name[su]=Layar Wilujeng Sumping
Name[sv]=Välkomstskärm
Name[ta]=நல்வரவு
Name[te]=స్వాగతపు తెర
Name[tg]=Экрани табрик
Name[th]=หน้าจอต้อนรับ
Name[tr]=Karşılama Ekranı
Name[uk]=Екран привітання
Name[ur]=ویلکم سکرین
Name[vi]=Màn hình Chào mừng
Name[zh_CN]=欢迎画面
Name[zh_HK]=歡迎畫面
Name[zh_TW]=歡迎畫面
Comment=Introduction to Linux Mint
Comment[af]=Voorstelling tot Linux Mint
Comment[am]=ሊነክስ ሚንትን ይተዋወቁ
Comment[ar]=مقدمة لـ Linux Mint
Comment[ast]=Introducción a Linux Mint
Comment[be]=Уводзіны ў Linux Mint
Comment[be@latin]=Уводзіны ў Linux Mint
Comment[bg]=Въведение в Linux Mint
Comment[bn]=লিনাক্স মিন্ট পরিচিতি
Comment[bn_IN]=লিনাক্স মিন্ট পরিচিতি
Comment[bs]=Uvod u Linux Mint
Comment[ca]=Introducció a Linux Mint
Comment[ca@valencia]=Introducció a Linux Mint
Comment[cs]=Úvod do Linux Mint
Comment[csb]=Wprowadzenié do Linux Mint
Comment[cy]=Cyflwyniad i Linux Mint
Comment[da]=Introduktion til Linux Mint
Comment[de]=Einführung in Linux Mint
Comment[el]=Εισαγωγή στο Linux Mint
Comment[eo]=Enkonduko al Linukso Minto
Comment[es]=Introducción a Linux Mint
Comment[es_AR]=Introducción a Linux Mint
Comment[et]=Sissejuhatus Linux Minti
Comment[eu]=Linux Mint-era sarrera
Comment[fa]=آشنایی با لینوکس مینت
Comment[fi]=Linux Mint -esittely
Comment[fil]=Panimula sa Linux Mint
Comment[fo]=Innleiðsla í Linux Mint
Comment[fr]=Introduction à Linux Mint
Comment[fr_CA]=Présentation de Linux Mint
Comment[ga]=Réamheolas faoi Linux Mint
Comment[gd]=Cuir aithne air Linux Mint
Comment[gl]=Introdución a Linux Mint
Comment[he]=מסע ראשוני Linux Mint
Comment[hr]=Uvod u Linux Mint
Comment[hu]=A Linux Mint bemutatása
Comment[id]=Pengenalan ke Linux Mint
Comment[is]=Kynning á Linux Mint
Comment[it]=Introduzione a Linux Mint
Comment[ja]=Linux Mint のご紹介
Comment[jv]=Pengenalan ing Linux Mint
Comment[ko]=리눅스 민트 소개
Comment[ky]=Linux Mint'ке киришүү
Comment[lb]=Afeierung zu Linux Mint
Comment[lt]=Įvadas į Linux Mint
Comment[lv]=Iepazīšanās ar Linux Mint
Comment[mg]=Fanehoana an'i Linux Mint
Comment[ml]=ലിനക്സ് മിന്റിനൊരു അവതാരിക
Comment[mr]=लिनक्स मिंट सोबत ओळख
Comment[ms]=Pengenalan ke Linux Mint
Comment[nb]=Introduksjon til Linux Mint
Comment[nds]=Einführung in Linux Mint
Comment[ne]=लिनक्स मिन्टको परिचय
Comment[nl]=Introductie van Linux Mint
Comment[nn]=Introduksjon til Linux Mint
Comment[oc]=Introduccion a Linux Mint
Comment[om]=Seensa Linux Mint
Comment[pa]=ਲੀਨਕਸ ਮਿਟ ਨਾਲ ਜਾਣ ਪਛਾਣ
Comment[pl]=Wprowadzenie do Linux Mint
Comment[pt]=Introdução ao Linux Mint
Comment[pt_BR]=Introdução ao Linux Mint
Comment[pt_PT]=Introdução ao Linux Mint
Comment[ro]=Introducere în Linux Mint
Comment[ru]=Введение в Linux Mint
Comment[si]=ලිනක්ස් මින්ට් හඳුන්වාදීම
Comment[sk]=Úvod do Linux Mint
Comment[sl]=Uvod v Linux Mint
Comment[so]=Horudhaca Linux Mint
Comment[sq]=Hyrje në Linux Mint
Comment[sr]=Упознај се са Линукс Mинтом
Comment[sr@ijekavianlatin]=Упознај се са Линукс Mинтом
Comment[sr@latin]=Uvod u Linux Mint
Comment[su]=Wawanohan reujeung Linux Mint
Comment[sv]=Introduktion till Linux Mint
Comment[ta]=லினக்ஸ் மின்ட் அறிமுகம்
Comment[te]=లినక్స్ మింట్ పరిచయం
Comment[tg]=Шиносоӣ бо Linux Mint
Comment[th]=ขอแนะนำลีนุกซ์มินต์
Comment[tl]=Pambungad sa Linux Mint
Comment[tr]=Linux Mint'e Giriş
Comment[uk]=Знайомство з Linux Mint
Comment[ur]=لینکس مینٹ کا تعارف
Comment[vi]=Giới thiệu Linux Mint
Comment[zh_CN]=Linux Mint 介绍
Comment[zh_HK]=Linux Mint 簡介
Comment[zh_TW]=Linux Mint 的介紹
