[Desktop Entry]
Name=Welcome Screen
Name[zh_TW]=Welcome Screen
Name[cs]=Welcome Screen
Name[ru]=Welcome Screen
Name[pt_PT]=Welcome Screen
Name[sl]=Welcome Screen
Name[ar]=Welcome Screen
Name[sv]=Welcome Screen
Name[hy]=Welcome Screen
Name[nb]=Welcome Screen
Name[sk]=Welcome Screen
Name[en_CA]=Welcome Screen
Name[nl]=Welcome Screen
Name[es]=Welcome Screen
Name[si]=Welcome Screen
Name[bn]=Welcome Screen
Name[oc]=Welcome Screen
Name[fa]=Welcome Screen
Name[sr]=Welcome Screen
Name[te]=Welcome Screen
Name[en_AU]=Welcome Screen
Name[pap]=Welcome Screen
Name[th]=Welcome Screen
Name[kk]=Welcome Screen
Name[tr]=Welcome Screen
Name[csb]=Welcome Screen
Name[pt]=Welcome Screen
Name[tl]=Welcome Screen
Name[fr]=Welcome Screen
Name[hu]=Welcome Screen
Name[ur]=Welcome Screen
Name[ro]=Welcome Screen
Name[et]=Welcome Screen
Name[bg]=Welcome Screen
Name[uk]=Welcome Screen
Name[en_GB]=Welcome Screen
Name[vi]=Welcome Screen
Name[eo]=Welcome Screen
Name[ms]=Welcome Screen
Name[zh_HK]=Welcome Screen
Name[it]=Welcome Screen
Name[nds]=Welcome Screen
Name[de]=Welcome Screen
Name[nn]=Welcome Screen
Name[zh_CN]=Welcome Screen
Name[cy]=Welcome Screen
Name[hr]=Welcome Screen
Name[ast]=Welcome Screen
Name[he]=Welcome Screen
Name[af]=Welcome Screen
Name[sq]=Welcome Screen
Name[kn]=Welcome Screen
Name[pa]=Welcome Screen
Name[gl]=Welcome Screen
Name[ko]=Welcome Screen
Name[jv]=Welcome Screen
Name[el]=Welcome Screen
Name[lv]=Welcome Screen
Name[bs]=Welcome Screen
Name[gv]=Welcome Screen
Name[fo]=Welcome Screen
Name[mk]=Welcome Screen
Name[hi]=Welcome Screen
Name[ca]=Welcome Screen
Name[fi]=Welcome Screen
Name[mr]=Welcome Screen
Name[da]=Welcome Screen
Name[lb]=Welcome Screen
Name[ml]=Welcome Screen
Name[be]=Welcome Screen
Name[eu]=Welcome Screen
Name[am]=Welcome Screen
Name[pl]=Welcome Screen
Name[lt]=Welcome Screen
Name[pt_BR]=Welcome Screen
Name[is]=Welcome Screen
Name[ta]=Welcome Screen
Name[id]=Welcome Screen
Name[ja]=Welcome Screen
Comment=Introduction to Linux Mint
Comment[zh_TW]=Introduction to Linux Mint
Comment[cs]=Introduction to Linux Mint
Comment[ru]=Introduction to Linux Mint
Comment[pt_PT]=Introduction to Linux Mint
Comment[sl]=Introduction to Linux Mint
Comment[ar]=Introduction to Linux Mint
Comment[sv]=Introduction to Linux Mint
Comment[hy]=Introduction to Linux Mint
Comment[nb]=Introduction to Linux Mint
Comment[sk]=Introduction to Linux Mint
Comment[en_CA]=Introduction to Linux Mint
Comment[nl]=Introduction to Linux Mint
Comment[es]=Introduction to Linux Mint
Comment[si]=Introduction to Linux Mint
Comment[bn]=Introduction to Linux Mint
Comment[oc]=Introduction to Linux Mint
Comment[fa]=Introduction to Linux Mint
Comment[sr]=Introduction to Linux Mint
Comment[te]=Introduction to Linux Mint
Comment[en_AU]=Introduction to Linux Mint
Comment[pap]=Introduction to Linux Mint
Comment[th]=Introduction to Linux Mint
Comment[kk]=Introduction to Linux Mint
Comment[tr]=Introduction to Linux Mint
Comment[csb]=Introduction to Linux Mint
Comment[pt]=Introduction to Linux Mint
Comment[tl]=Introduction to Linux Mint
Comment[fr]=Introduction to Linux Mint
Comment[hu]=Introduction to Linux Mint
Comment[ur]=Introduction to Linux Mint
Comment[ro]=Introduction to Linux Mint
Comment[et]=Introduction to Linux Mint
Comment[bg]=Introduction to Linux Mint
Comment[uk]=Introduction to Linux Mint
Comment[en_GB]=Introduction to Linux Mint
Comment[vi]=Introduction to Linux Mint
Comment[eo]=Introduction to Linux Mint
Comment[ms]=Introduction to Linux Mint
Comment[zh_HK]=Introduction to Linux Mint
Comment[it]=Introduction to Linux Mint
Comment[nds]=Introduction to Linux Mint
Comment[de]=Introduction to Linux Mint
Comment[nn]=Introduction to Linux Mint
Comment[zh_CN]=Introduction to Linux Mint
Comment[cy]=Introduction to Linux Mint
Comment[hr]=Introduction to Linux Mint
Comment[ast]=Introduction to Linux Mint
Comment[he]=Introduction to Linux Mint
Comment[af]=Introduction to Linux Mint
Comment[sq]=Introduction to Linux Mint
Comment[kn]=Introduction to Linux Mint
Comment[pa]=Introduction to Linux Mint
Comment[gl]=Introduction to Linux Mint
Comment[ko]=Introduction to Linux Mint
Comment[jv]=Introduction to Linux Mint
Comment[el]=Introduction to Linux Mint
Comment[lv]=Introduction to Linux Mint
Comment[bs]=Introduction to Linux Mint
Comment[gv]=Introduction to Linux Mint
Comment[fo]=Introduction to Linux Mint
Comment[mk]=Introduction to Linux Mint
Comment[hi]=Introduction to Linux Mint
Comment[ca]=Introduction to Linux Mint
Comment[fi]=Introduction to Linux Mint
Comment[mr]=Introduction to Linux Mint
Comment[da]=Introduction to Linux Mint
Comment[lb]=Introduction to Linux Mint
Comment[ml]=Introduction to Linux Mint
Comment[be]=Introduction to Linux Mint
Comment[eu]=Introduction to Linux Mint
Comment[am]=Introduction to Linux Mint
Comment[pl]=Introduction to Linux Mint
Comment[lt]=Introduction to Linux Mint
Comment[pt_BR]=Introduction to Linux Mint
Comment[is]=Introduction to Linux Mint
Comment[ta]=Introduction to Linux Mint
Comment[id]=Introduction to Linux Mint
Comment[ja]=Introduction to Linux Mint
Exec=mintwelcome
Icon=/usr/lib/linuxmint/mintWelcome/templates/logo.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GNOME;GTK;Settings;DesktopSettings;
StartupNotify=false
