[Desktop Entry]
Exec=apturl apt://mint-meta-codecs?refresh=yes
Icon=applications-multimedia
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;AudioVideo;Audio;
StartupNotify=false
Name=Install Multimedia Codecs
Name[af]=Installeer Multimedia Codecs
Name[am]=የመልቲሚዲያ ኮዴክስ መግጠሚያ
Name[ar]=تثبيت برامج ترميز الوسائط المتعددة
Name[ast]=Instalar códecs multimedia
Name[az]=Multimediya kodeklәrini quraşdır
Name[be]=Усталяваць мультымедыя-кодэкі
Name[bg]=Инсталиране на мултимедийни кодеци
Name[bn]=মাল্টিমিডিয়া কোডেকসমূহ ইন্সটল করুন
Name[bs]=Instalacija multimedijalnih kodeka
Name[ca]=Instal·lació dels còdecs multimèdia
Name[ca@valencia]=Instal·lar còdecs multimèdia
Name[cs]=Nainstalovat kodeky multimédií
Name[csb]=Winstalëjë kòdeczi mùltimediów
Name[cy]=Gosod y Codecs Amlgyfrwng
Name[da]=Installér multimediecodecs
Name[de]=Multimedia-Codecs installieren
Name[el]=Εγκατάσταση αποκωδικοποιητών πολυμέσων
Name[eo]=Instali multmediajn kodekojn
Name[es]=Instalar códecs multimedia
Name[et]=Paigalda multimeediakoodekid
Name[eu]=Instalatu multimedia kodekak
Name[fa]=نصب کدک‌های (Codecs) چندرسانه‌ای
Name[fi]=Asenna multimediakoodekit
Name[fil]=I-install ang Multimedia Codecs
Name[fo]=Legg inn margmiðlar kotek
Name[fr]=Installation des codecs multimédias
Name[fr_CA]=Installer les codecs multimédia
Name[fy]=Ynstallearje Multymedia Codecs
Name[ga]=Suiteáil Cóideceanna Ilmheánacha
Name[gd]=Stàlaich codecs nan ioma-mheadhanan
Name[gl]=Instalar códecs multimedia
Name[he]=התקן קודקים של מולטימדיה
Name[hi]=मल्टीमीडिया कोडेक्स इंस्टॉल करें
Name[hr]=Instaliraj multimedijske kôdeke
Name[hu]=Multimédia kodekek telepítése
Name[ia]=Installar le codecs multimedial
Name[id]=Pasang Codec Multimedia
Name[is]=Setja inn kóðunarlykla fyrir margmiðlun (multimedia codecs)
Name[it]=Installa codec multimediali
Name[ja]=マルチメディアコーデックのインストール
Name[jv]=Masang Multimedia Kodek
Name[ka]=მულტიმედია კოდეკების ინსტალაცია
Name[kab]=Sebded ikudiken n wallalen n teɣwalt
Name[kk]=Мультимедиалық кодектер орнату
Name[ko]=멀티미디어 코덱 설치
Name[ky]=Мультимедиа кодектерин орнотуу
Name[lb]=Installeieren vun Multimedia Codecs
Name[lt]=Įdiegti multimedijos kodekus
Name[lv]=Instalēt multimediju kodekus
Name[ml]=മൾട്ടിമീഡിയ കോഡെക്സ് ഇൻസ്റ്റോൾ ചെയ്യുക
Name[mr]=मल्टीमिडिया कोडेक्स प्रस्थापित करा
Name[ms]=Pasang Kodek Multimedia
Name[my]=ရုပ်သံကုတ်များ ထည့်သွင်းရန်
Name[nap]=Miett 'i codec multimediali
Name[nb]=Installer multimediakodeker
Name[nds]=Multimedia Codecs installieren
Name[ne]=मल्तिमिडिया कोदेक इन्स्टल गर
Name[nl]=Multimediacodecs installeren
Name[nn]=Installer multimediakodekar
Name[oc]=Installacion dels codecs multimèdias
Name[om]=Kodekiiwwan suursagalee dhaabi
Name[pa]=ਮਲਟੀਮੀਡਿਆ Codecs ਇੰਸਟਾਲ ਕਰੋ
Name[pap]=Installa traduktornan di Multimedia
Name[pl]=Zainstaluj kodeki multimediów
Name[pt]=Instalar Codecs Multimédia
Name[pt_BR]=Instalar Codecs Multimídia
Name[pt_PT]=Instalar Codecs Multimédia
Name[ro]=Instalare codecuri multimedia
Name[ru]=Установка мультимедиа-кодеков
Name[sc]=Installa sos Codecs Multimediales
Name[sk]=Nainštalovať multimediálne kodeky
Name[sl]=Namesti predstavne kodeke
Name[so]=Shub Koodhekiska Multimeedhiyaha
Name[sq]=Instalo Kodekset Multimedia
Name[sr]=Инсталација мултимедијалних кодека
Name[sr@latin]=Instaliraj Multimedijalne Kodeke
Name[su]=Pasang Multimedia Codecs
Name[sv]=Installera Multimedia-tillägg
Name[ta]=பல்லூடக கோடெக்குகளை நிறுவு
Name[te]=బహుళమాధ్యమ కొడెక్‌లను స్థాపించు
Name[tg]=Насб кардани кодекҳои мултимедиа
Name[th]=ติตตั้งตัวถอดรหัสมัลติมีเดีย
Name[tl]=I-install ang mga Multimedia Codec
Name[tr]=Çokluortam Çözücülerini Kur
Name[uk]=Встановлення мультимедійних кодеків
Name[ur]=ملٹیمیڈیا کوڈیک انسٹال کریں
Name[uz]=Мултимедиа кодекларини тизимга ўрнатиш
Name[vi]=Cài đặt các Bộ mã Đa phương tiện
Name[zh_CN]=安装多媒体编解码器
Name[zh_HK]=安裝多媒體解碼器
Name[zh_TW]=安裝多媒體編解碼器
Name[zu]=Faka i-Multimedia Codecs
Comment=Add all the missing multimedia codecs
Comment[af]=Voeg by alle verlore multimedia codecs
Comment[am]=መጨመሪያ የጎደሉ የመልቲሚዲያ ኮዴክስ
Comment[ar]=إضافة كافة برامج ترميز الوسائط المتعددة المفقودة
Comment[ast]=Amestar tolos códecs multimedia que falten
Comment[az]=Bütün çatışmayan multimediya kodeklәrini әlavә et
Comment[be]=Дадаць ўсе адсутныя мультымедыя-кодэкі
Comment[bg]=Добавяне на всички липсващи мултимедийни кодеци
Comment[bn]=বাদ পড়া সব মাল্টিমিডিয়া কোডেকসমূহ যুক্ত করুন
Comment[bs]=Dodaj sve nedostajeće multimedijalne kodeke
Comment[ca]=Afegiu tots els còdecs multimèdia que falten
Comment[ca@valencia]=Afegir tots els còdecs multimèdia que falten
Comment[cs]=Přidat všechny chybějící kodeky multimédií
Comment[csb]=Dodôj wszëtczé felëjacé kòdeczi mùltimediów
Comment[cy]=Ychwanegu'r holl codecs amlgyfrwng coll
Comment[da]=Tilføj alle manglende multimediecodecs
Comment[de]=Alle fehlenden Multimedia-Codecs hinzufügen
Comment[el]=Πρόσθεσε όλους τους αποκωδικοποιητές πολυμέσων που λείπουν
Comment[eo]=Aldoni ĉiujn mankantajn multmediajn kodekojn
Comment[es]=Añada todos los códecs multimedia que falten
Comment[et]=Kõigi puuduvate koodekite lisamine
Comment[eu]=Gehitu falta diren multimedia kodek guztiak
Comment[fa]=افزودن همه کدک‌های (Codecs) چندرسانه‌ای مفقود
Comment[fi]=Lisää kaikki puuttuvat multimediakoodekit
Comment[fil]=Idagdag ang mga nawawalang multimedia codecs
Comment[fo]=Legg inn øll væntandi margmiðla kotek
Comment[fr]=Ajouter tous les codecs manquants
Comment[fr_CA]=Ajouter tous les codecs multimédia manquants
Comment[fy]=Ûntbrekkende multymedia codecs taheakje
Comment[ga]=Cuir leis na cóideiceanna ilmheánacha uile atá in easnamh
Comment[gd]=Cuir ris gach codec ioma-meadhanan a tha a dhìth
Comment[gl]=Engadir todos os códecs multimedia que falten
Comment[he]=התקן את כול הקודקים החסרים של המולטימדיה
Comment[hi]=सभी अनुपस्थित मल्टीमीडिया कोडेक्स जोड़ें
Comment[hr]=Dodaj sve multimedijske kôdeke koji nedostaju
Comment[hu]=Az összes hiányzó multimédia kodek hozzáadása
Comment[ia]=Adder tote le codecs multimedial mancante
Comment[id]=Tambahkan semua codec multimedia yang hilang
Comment[is]=Bæta við öllum kóðunarlyklum fyrir margmiðlun
Comment[it]=Aggiungi tutti i codec multimediali mancanti
Comment[ja]=インストールされていないマルチメディアコーデックをすべて追加します
Comment[jv]=Tambahno sakkabehane sing dibutuhke multimedia kodek
Comment[ka]=არმყოფი მულტიმედია კოდეკების დამატება
Comment[kab]=Rnu akk ikudiken n wallalen n teɣwalt yettwazeglen
Comment[kk]=Тастап кеткен мультимедиалық кодектерді қосу
Comment[ko]=설치되지 않은 멀티미디어 코덱 설치
Comment[ky]=Бардык жетишпеген мультимедиа кодектерди орнотуу
Comment[lb]=All dei feelend Multimedia Codecs beisetzen
Comment[lt]=Pridėti visus trūkstamus multimedijos kodekus
Comment[lv]=Pievienot visus trūkstošos multimediju kodekus
Comment[ml]=വിട്ടുപോയ മൾട്ടിമീഡിയ കോഡെക്സ് കൂട്ടിച്ചേർക്കുക
Comment[mr]=गहाळ असणारे सर्व मल्टीमिडिया कोडेक्स प्रस्थापित करा
Comment[ms]=Tambah semua kodek multimedia yang hilang
Comment[my]=လိုအပ်နေသော ရုပ်သံကုတ်များ အားလုံးကို ထပ်ထည့်မည်။
Comment[nap]=Miett tutt i codec multimediali ca nun ce stann
Comment[nb]=Legg til alle manglende multimediakodeker
Comment[nds]=Füge alle fehlenden Multimedia Codecs hinzu
Comment[ne]=अरु सबै मल्तिमिडिया कोदेक इन्स्टल गर
Comment[nl]=Alle ontbrekende multimediacodecs toevoegen
Comment[nn]=Legg til alle multimediakodekar som manglar
Comment[oc]=Apondre los codecs mancants
Comment[om]=Kodeekiiwwan suursagalee dhabaman ida'i
Comment[pa]=ਸਭ ਗੁੰਮ ਮਲਟੀਮੀਡਿਆ codecs ਸ਼ਾਮਲ ਕਰੋ
Comment[pap]=Añadi tur e traduktornan di multimedia ku falta
Comment[pl]=Dodaj wszystkie brakujące kodeki multimediów
Comment[pt]=Adicionar todos os codecs multimédia em falta
Comment[pt_BR]=Adicionar todos os codecs multimídia ausentes
Comment[pt_PT]=Adicionar todos os codecs multimédia em falta
Comment[ro]=Adăugați toate codecurile multimedia lipsă
Comment[ru]=Добавить все пропущенные мультимедиа кодеки
Comment[sc]=Agiunghe totu sos codecs multimediales
Comment[sk]=Pridať všetky chýbajúce multimediálne kodeky
Comment[sl]=Dodaj vse manjkajoče predstavne kodeke
Comment[so]=Kudar dhamaan multimeedhiya koodhekiska maqan
Comment[sq]=Shto të gjithë kodeksët multimedia që mungojnë
Comment[sr]=Додајте све недостајуће мултимедијалне кодеке
Comment[sr@latin]=Dodati sve nepostojeće kodeke
Comment[su]=Tambahkeun sakabeh multimedia codecs nu diperlukeun
Comment[sv]=Lägg till alla saknade multimedia-tillägg
Comment[ta]=அனைத்து விடுபட்ட பல்லூடக கோடெக்குகளையும் சேர்
Comment[te]=తప్పిపోయిన బహుళమాధ్యమ కొడెక్‌లను అన్నిటినీ జతచేయి
Comment[tg]=Илова кардани ҳамаи кодекҳои мултимедиаи намерасидагӣ
Comment[th]=เพิ่มทุกตัวแปลงสัญญาณมัลติมีเดียที่ขาดหายไปให้ครบ
Comment[tl]=Idagdag ang lahat ng kulang na mga multimedia codec
Comment[tr]=Tüm eksik çokluortam çözücülerini ekle
Comment[uk]=Додати відсутні мультимедійні кодеки
Comment[ur]=تمام غیر موجود ملٹیمیڈیا کوڈیک انسٹال کریں
Comment[uz]=Мавжуд бўлмаган барча мултимедиа кодекларини тизимга қўшиш
Comment[vi]=Thêm tất cả các bộ mã đa phương tiện còn thiếu
Comment[zh_CN]=添加所有缺失的多媒体编解码器
Comment[zh_HK]=新增所有缺少的多媒體解碼器
Comment[zh_TW]=加入所有遺漏的多媒體編解碼器
Comment[zu]=Faka zonke izikhodi ze-multimedia ezingekho
