[Desktop Entry]
Name=Install Multimedia Codecs
Name[da]=Installér multimediecodecs
Name[vi]=Cài đặt Các bộ mã Đa phương tiện
Name[te]=Install Multimedia Codecs
Name[en_AU]=Install Multimedia Codecs
Name[ja]=マルチメディアコーデックのインストール
Name[ko]=멀티미디어 코덱 설치
Name[eo]=Install Multimedia Codecs
Name[lv]=Install Multimedia Codecs
Name[ro]=Install Multimedia Codecs
Name[tl]=Install Multimedia Codecs
Name[ast]=Install Multimedia Codecs
Name[mr]=Install Multimedia Codecs
Name[bg]=Install Multimedia Codecs
Name[ru]=Установка мультимедиа кодеков
Name[uk]=Встановити мультимедійні кодеки
Name[pa]=ਮਲਟੀਮੀਡਿਆ Codecs ਇੰਸਟਾਲ ਕਰੋ
Name[ml]=Install Multimedia Codecs
Name[zh_TW]=安裝多媒體編解碼器
Name[sq]=Install Multimedia Codecs
Name[pt_BR]=Instalando Codecs
Name[sl]=Install Multimedia Codecs
Name[kn]=Install Multimedia Codecs
Name[he]=Install Multimedia Codecs
Name[fo]=Install Multimedia Codecs
Name[nn]=Install Multimedia Codecs
Name[hu]=Install Multimedia Codecs
Name[es]=Instalar códecs multimedia
Name[bs]=Instalacija multimedijalnih kodeka
Name[ta]=Install Multimedia Codecs
Name[pt]=Instalar Codecs Multimédia
Name[fr]=Installation des Codecs Multimédia
Name[nl]=Multimediacodecs installeren
Name[fi]=Asenna multimedia koodekit
Name[ar]=تثبيت رموز الوسائط المتعددة
Name[hy]=Install Multimedia Codecs
Name[en_CA]=Install Multimedia Codecs
Name[fa]=Install Multimedia Codecs
Name[cs]=Install Multimedia Codecs
Name[ca]=Instal·lar còdecs multimèdia
Name[be]=Install Multimedia Codecs
Name[nds]=Install Multimedia Codecs
Name[mk]=Install Multimedia Codecs
Name[pap]=Install Multimedia Codecs
Name[gl]=Instalar códecs multimedia
Name[oc]=Install Multimedia Codecs
Name[eu]=Multimedia kodekak instalatu
Name[am]=የመልቲሚዲያ ኮዴክስ መግጠሚያ
Name[gv]=Install Multimedia Codecs
Name[el]=Εγκατάσταση αποκωδικοποιητών πολυμέσων
Name[zh_HK]=Install Multimedia Codecs
Name[id]=Install Multimedia Codecs
Name[nb]=Install Multimedia Codecs
Name[jv]=Install Multimedia Codecs
Name[it]=Install Multimedia Codecs
Name[sk]=Install Multimedia Codecs
Name[si]=Install Multimedia Codecs
Name[csb]=Install Multimedia Codecs
Name[hi]=Install Multimedia Codecs
Name[sr@latin]=Install Multimedia Codecs
Name[hr]=Install Multimedia Codecs
Name[de]=Multimedia-Codecs installieren
Name[th]=Install Multimedia Codecs
Name[tr]=Multimedya Kodeklerini Kur
Name[lb]=Install Multimedia Codecs
Name[bn]=মাল্টিমিডিয়া কোডেকসমূহ ইন্সটল করুন
Name[af]=Install Multimedia Codecs
Name[ur]=Install Multimedia Codecs
Name[en_GB]=Install Multimedia Codecs
Name[zh_CN]=Install Multimedia Codecs
Name[cy]=Install Multimedia Codecs
Name[et]=Paigalda multimeediakoodekid
Name[pt_PT]=Instalar Codecs Multimédia
Name[sr]=Install Multimedia Codecs
Name[pl]=Zainstaluj kodeki multimediów
Name[ms]=Pasang Kodek Multimedia
Name[is]=Setja inn kóðunarlykla fyrir margmiðlun (multimedia codecs)
Name[kk]=Install Multimedia Codecs
Name[sv]=Installera Multimedia-codecs
Name[lt]=Install Multimedia Codecs
Comment=Add all the missing multimedia codecs
Comment[da]=Tilføj alle manglende multimediecodecs
Comment[vi]=Thêm các bộ mã đa phương tiện còn thiếu
Comment[te]=Add all the missing multimedia codecs
Comment[en_AU]=Add all the missing multimedia codecs
Comment[ja]=インストールされていないマルチメディアコーデックをすべて追加します
Comment[ko]=Add all the missing multimedia codecs
Comment[eo]=Add all the missing multimedia codecs
Comment[lv]=Add all the missing multimedia codecs
Comment[ro]=Add all the missing multimedia codecs
Comment[tl]=Add all the missing multimedia codecs
Comment[ast]=Add all the missing multimedia codecs
Comment[mr]=Add all the missing multimedia codecs
Comment[bg]=Add all the missing multimedia codecs
Comment[ru]=Добавить все пропущенные мультимедиа кодеки
Comment[uk]=Додати відсутні мультимедійні кодеки
Comment[pa]=ਸਭ ਗੁੰਮ ਮਲਟੀਮੀਡਿਆ codecs ਸ਼ਾਮਲ ਕਰੋ
Comment[ml]=Add all the missing multimedia codecs
Comment[zh_TW]=加入所有遺漏的多媒體編解碼器
Comment[sq]=Add all the missing multimedia codecs
Comment[pt_BR]=Adicionar todos Codecs
Comment[sl]=Add all the missing multimedia codecs
Comment[kn]=Add all the missing multimedia codecs
Comment[he]=Add all the missing multimedia codecs
Comment[fo]=Add all the missing multimedia codecs
Comment[nn]=Add all the missing multimedia codecs
Comment[hu]=Add all the missing multimedia codecs
Comment[es]=Añadir todos los códecs multimedia que falten
Comment[bs]=Dodaj nedostajeće multimedijalne kodeke
Comment[ta]=Add all the missing multimedia codecs
Comment[pt]=Adicionar todos os codecs multimédia em falta
Comment[fr]=Ajouter les codecs manquants
Comment[nl]=Alle ontbrekende multimediacodecs toevoegen
Comment[fi]=Lisää kaikki puuttuvat multimedia koodekit
Comment[ar]=اضافة كل رموز الوسائط المتعددة المفقودة
Comment[hy]=Add all the missing multimedia codecs
Comment[en_CA]=Add all the missing multimedia codecs
Comment[fa]=Add all the missing multimedia codecs
Comment[cs]=Add all the missing multimedia codecs
Comment[ca]=Afegir tots els còdecs que manquen
Comment[be]=Add all the missing multimedia codecs
Comment[nds]=Add all the missing multimedia codecs
Comment[mk]=Add all the missing multimedia codecs
Comment[pap]=Add all the missing multimedia codecs
Comment[gl]=Engadir todos os códecs multimedia que falten
Comment[oc]=Add all the missing multimedia codecs
Comment[eu]=Gehitu falta diren multimedia kodek guztiak
Comment[am]=መጨመሪያ የጎደሉ የመልቲሚዲያ ኮዴክስ
Comment[gv]=Add all the missing multimedia codecs
Comment[el]=Πρόσθεσε όλους τους αποκωδικοποιητές πολυμέσων που λείπουν
Comment[zh_HK]=Add all the missing multimedia codecs
Comment[id]=Add all the missing multimedia codecs
Comment[nb]=Add all the missing multimedia codecs
Comment[jv]=Add all the missing multimedia codecs
Comment[it]=Add all the missing multimedia codecs
Comment[sk]=Add all the missing multimedia codecs
Comment[si]=Add all the missing multimedia codecs
Comment[csb]=Add all the missing multimedia codecs
Comment[hi]=Add all the missing multimedia codecs
Comment[sr@latin]=Add all the missing multimedia codecs
Comment[hr]=Add all the missing multimedia codecs
Comment[de]=Alle fehlenden Multimedia-Codecs hinzufügen
Comment[th]=Add all the missing multimedia codecs
Comment[tr]=Bütün eksik multimedya kodeklerini ekle
Comment[lb]=Add all the missing multimedia codecs
Comment[bn]=বাদ পড়া সব মাল্টিমিডিয়া কোডেকসমূহ যুক্ত করুন
Comment[af]=Add all the missing multimedia codecs
Comment[ur]=Add all the missing multimedia codecs
Comment[en_GB]=Add all the missing multimedia codecs
Comment[zh_CN]=Add all the missing multimedia codecs
Comment[cy]=Add all the missing multimedia codecs
Comment[et]=Kõigi puuduvate multimeediakoodekite lisamine
Comment[pt_PT]=Adicionar todos os codecs multimédia em falta
Comment[sr]=Add all the missing multimedia codecs
Comment[pl]=Dodaj wszystkie brakujące kodeki multimediów
Comment[ms]=Tambah semua kodek multimedia yang hilang
Comment[is]=Bæta við öllum kóðunarlyklum fyrir margmiðlun
Comment[kk]=Add all the missing multimedia codecs
Comment[sv]=Lägg till alla saknade multimedia-codecs
Comment[lt]=Add all the missing multimedia codecs
Exec=apturl apt://mint-meta-codecs?refresh=yes
Icon=applications-multimedia
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;AudioVideo;Audio;
StartupNotify=false
