[Desktop Entry]
Name=Upgrade to the DVD Edition
Name[da]=Opgradér til DVD-udgave
Name[vi]=Nâng cấp lên bản DVD
Name[te]=DVD ప్రతి కి మార్పు చెందండి
Name[en_AU]=Upgrade to the DVD Edition
Name[ja]=DVD エディションにアップグレード
Name[ko]=DVD 에디션으로 업그레이드
Name[eo]=Promocii al la DVD-eldono
Name[lv]=Upgrade to the DVD Edition
Name[ro]=Migrează la ediţia DVD
Name[tl]=Upgrade to the DVD Edition
Name[ast]=Upgrade to the DVD Edition
Name[mr]=Upgrade to the DVD Edition
Name[bg]=Надграждане до DVD изданието
Name[ru]=Обновиться до DVD версии
Name[uk]=Оновлення до DVD версії
Name[pa]=DVD ਐਡੀਸ਼ਨ ਲਈ ਅੱਪਗਰੇਡ ਕਰੋ
Name[ml]=ഡിവിഡി പതിപ്പിലേക്ക് മാറുക
Name[zh_TW]=升級至 DVD 版本
Name[sq]=Përditësoje në versionin DVD
Name[pt_BR]=Atualizar para a edição em DVD
Name[sl]=Upgrade to the DVD Edition
Name[kn]=Upgrade to the DVD Edition
Name[he]=שדרוג למהדורת ה־DVD
Name[fo]=Uppstiga til DVD-útgávuna
Name[nn]=Oppgrader til DVD-versjonen
Name[hu]=Váltás a DVD kiadásra
Name[es]=Actualizar a la edición DVD
Name[bs]=Proširi na DVD izdanje
Name[ta]=Upgrade to the DVD Edition
Name[pt]=Actualizar para a edição de DVD
Name[fr]=Ajouter les applications de la version DVD
Name[nl]=Opwaarderen naar de dvd-editie
Name[fi]=Päivitä DVD Edition versioon
Name[ar]=الترقية لنسخة الدي في دي
Name[hy]=Upgrade to the DVD Edition
Name[en_CA]=Upgrade to the DVD Edition
Name[fa]=Upgrade to the DVD Edition
Name[cs]=Povýšit na DVD edici
Name[ca]=Actualitza a la edició en DVD
Name[be]=Upgrade to the DVD Edition
Name[nds]=Upgrade to the DVD Edition
Name[mk]=Надогради до DVD верзија
Name[pap]=Upgrade to the DVD Edition
Name[gl]=Anovar á edición en DVD
Name[oc]=Upgrade to the DVD Edition
Name[eu]=DVD Ediziora eguneratu
Name[am]=ወደ ዲቪዲ እትም ማሻሻያ
Name[gv]=Cur dys cur magh DVD
Name[el]=Αναβάθμιση στην Έκδοση DVD
Name[zh_HK]=Upgrade to the DVD Edition
Name[id]=Meningkatkan ke edisi DVD
Name[nb]=Oppgrader til DVD-utgave
Name[jv]=ningkatno reng terbitan DVD
Name[it]=Aggiorna alla versione DVD
Name[sk]=Vylepšiť na DVD edíciu
Name[si]=Upgrade to the DVD Edition
Name[csb]=Upgrade to the DVD Edition
Name[hi]=Upgrade to the DVD Edition
Name[hr]=Nadogradi na DVD izdanje
Name[de]=Upgrade auf die DVD-Ausgabe
Name[th]=Upgrade to the DVD Edition
Name[tr]=DVD Sürüm'e Yükselt
Name[lb]=Upgrade to the DVD Edition
Name[bn]=ডিভিডি সংস্করণে উন্নীত করুন
Name[af]=Opgradeer na die DVD Uitgawe
Name[ur]=Upgrade to the DVD Edition
Name[en_GB]=Upgrade to the DVD Edition
Name[zh_CN]=升级到 DVD 版
Name[cy]=Upgrade to the DVD Edition
Name[et]=Uuenda DVD versiooniks
Name[pt_PT]=Actualizar para a edição de DVD
Name[sr]=Прошири на ДВД издање
Name[pl]=Uaktualnij do wydania DVD
Name[ms]=Naik taraf ke Edisi DVD
Name[is]=Uppfæra í DVD útgáfuna
Name[kk]=DVD нұсқасына дейін жаңарту
Name[sv]=Uppgradera till DVD-utgåvan
Name[lt]=Išplėsti į į DVD versiją
Comment=Add all the missing applications
Comment[da]=Add all the missing applications
Comment[vi]=Add all the missing applications
Comment[te]=Add all the missing applications
Comment[en_AU]=Add all the missing applications
Comment[ja]=Add all the missing applications
Comment[ko]=Add all the missing applications
Comment[eo]=Add all the missing applications
Comment[lv]=Add all the missing applications
Comment[ro]=Add all the missing applications
Comment[tl]=Add all the missing applications
Comment[ast]=Add all the missing applications
Comment[mr]=Add all the missing applications
Comment[bg]=Add all the missing applications
Comment[ru]=Add all the missing applications
Comment[uk]=Add all the missing applications
Comment[pa]=Add all the missing applications
Comment[ml]=Add all the missing applications
Comment[zh_TW]=Add all the missing applications
Comment[sq]=Add all the missing applications
Comment[pt_BR]=Add all the missing applications
Comment[sl]=Add all the missing applications
Comment[kn]=Add all the missing applications
Comment[he]=Add all the missing applications
Comment[fo]=Add all the missing applications
Comment[nn]=Add all the missing applications
Comment[hu]=Add all the missing applications
Comment[es]=Add all the missing applications
Comment[bs]=Add all the missing applications
Comment[ta]=Add all the missing applications
Comment[pt]=Add all the missing applications
Comment[fr]=Add all the missing applications
Comment[nl]=Add all the missing applications
Comment[fi]=Add all the missing applications
Comment[ar]=Add all the missing applications
Comment[hy]=Add all the missing applications
Comment[en_CA]=Add all the missing applications
Comment[fa]=Add all the missing applications
Comment[cs]=Add all the missing applications
Comment[ca]=Add all the missing applications
Comment[be]=Add all the missing applications
Comment[nds]=Add all the missing applications
Comment[mk]=Add all the missing applications
Comment[pap]=Add all the missing applications
Comment[gl]=Add all the missing applications
Comment[oc]=Add all the missing applications
Comment[eu]=Add all the missing applications
Comment[am]=Add all the missing applications
Comment[gv]=Add all the missing applications
Comment[el]=Add all the missing applications
Comment[zh_HK]=Add all the missing applications
Comment[id]=Add all the missing applications
Comment[nb]=Add all the missing applications
Comment[jv]=Add all the missing applications
Comment[it]=Add all the missing applications
Comment[sk]=Add all the missing applications
Comment[si]=Add all the missing applications
Comment[csb]=Add all the missing applications
Comment[hi]=Add all the missing applications
Comment[hr]=Add all the missing applications
Comment[de]=Add all the missing applications
Comment[th]=Add all the missing applications
Comment[tr]=Add all the missing applications
Comment[lb]=Add all the missing applications
Comment[bn]=Add all the missing applications
Comment[af]=Add all the missing applications
Comment[ur]=Add all the missing applications
Comment[en_GB]=Add all the missing applications
Comment[zh_CN]=Add all the missing applications
Comment[cy]=Add all the missing applications
Comment[et]=Add all the missing applications
Comment[pt_PT]=Add all the missing applications
Comment[sr]=Add all the missing applications
Comment[pl]=Add all the missing applications
Comment[ms]=Add all the missing applications
Comment[is]=Add all the missing applications
Comment[kk]=Add all the missing applications
Comment[sv]=Add all the missing applications
Comment[lt]=Add all the missing applications
Exec=apturl apt://mint-meta-gnome-dvd?refresh=yes
Icon=applications-other
Terminal=false
Type=Application
Encoding=UTF-8
Categories=System;Settings;GTK;HardwareSettings;
StartupNotify=false
