[Desktop Entry]
Exec=apturl apt://mint-meta-codecs?refresh=yes
Icon=applications-multimedia
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;AudioVideo;Audio;
StartupNotify=false
Name=Install Multimedia Codecs
Name[af]=Installeer Multimedia Codecs
Name[am]=የመልቲሚዲያ ኮዴክስ መግጠሚያ
Name[ar]=تثبيت رموز الوسائط المتعددة
Name[ast]=Instalar códecs multimedia
Name[be]=Усталёўка кодэкаў мультымедыя
Name[be@latin]=Усталёўка кодэкаў мультымедыя
Name[bg]=Инсталиране на мултимедийни кодеци
Name[bn]=মাল্টিমিডিয়া কোডেকসমূহ ইন্সটল করুন
Name[bn_IN]=মাল্টিমিডিয়া কোডেকসমূহ ইন্সটল করুন
Name[bs]=Instalacija multimedijalnih kodeka
Name[ca]=Instal·lar còdecs multimèdia
Name[ca@valencia]=Instal·lar còdecs multimèdia
Name[cs]=Nainstalovat multimediální kodeky
Name[csb]=Winstalëjë kòdeczi mùltimediów
Name[cy]=Gosod y Codecs Amlgyfrwng
Name[da]=Installér multimediecodecs
Name[de]=Multimedia-Codecs installieren
Name[el]=Εγκατάσταση αποκωδικοποιητών πολυμέσων
Name[en_AU]=Install Multimedia Codecs
Name[en_CA]=Install Multimedia Codecs
Name[en_GB]=Install Multimedia Codecs
Name[eo]=Instali multmediajn kodekojn
Name[es]=Instalar códecs multimedia
Name[es_AR]=Instalar códecs multimedia
Name[et]=Paigalda multimeediakoodekid
Name[eu]=Instalatu multimedia kodekak
Name[fa]=نصب کدک‌های (Codecs) چندرسانه‌ای
Name[fi]=Asenna multimediakoodekit
Name[fo]=Legg inn margmiðlar kotek
Name[fr]=Installation des codecs multimédias
Name[fr_CA]=Installer les codecs multimédia
Name[ga]=Suiteáil Cóideceanna Ilmheánacha
Name[gd]=Stàlaich codec-ean ioma-mheadhanach
Name[gl]=Instalar códecs multimedia
Name[gv]=Install Multimedia Codecs
Name[he]=התקן קודקים לקבצי המולטימדיה שלך
Name[hi]=Install Multimedia Codecs
Name[hr]=Instaliraj multimedijske kôdeke
Name[hu]=Multimédiás kodekek telepítése
Name[hy]=Install Multimedia Codecs
Name[ia]=Install Multimedia Codecs
Name[id]=Pasang Multimedia Codecs
Name[is]=Setja inn kóðunarlykla fyrir margmiðlun (multimedia codecs)
Name[it]=Installa codec multimediali
Name[ja]=マルチメディアコーデックのインストール
Name[jv]=Masang Multimedia Kodek
Name[ka]=Install Multimedia Codecs
Name[kk]=Install Multimedia Codecs
Name[kn]=Install Multimedia Codecs
Name[ko]=멀티미디어 코덱 설치
Name[ky]=Мультимедиа кодектерин орнотуу
Name[la]=Install Multimedia Codecs
Name[lb]=Installeieren vun Multimedia Codecs
Name[lt]=Diegti multimedijos kodekus
Name[lv]=Uzstādīt multimēdiju kodeksus
Name[mg]=Install Multimedia Codecs
Name[mk]=Install Multimedia Codecs
Name[ml]=മൾട്ടിമീഡിയ കോഡെക്സ് ഇൻസ്റ്റോൾ ചെയ്യുക
Name[mr]=मल्टीमिडिया कोडेक्स प्रस्थापित करा
Name[ms]=Pasang Kodek Multimedia
Name[nb]=Installer multimediakodeker
Name[nds]=Multimedia Codecs installieren
Name[ne]=मल्तिमिडिया कोदेक इन्स्टल गर
Name[nl]=Multimediacodecs installeren
Name[nn]=Installer multimediakodekar
Name[oc]=Install Multimedia Codecs
Name[om]=Kodekiiwwan suursagalee dhaabi
Name[pa]=ਮਲਟੀਮੀਡਿਆ Codecs ਇੰਸਟਾਲ ਕਰੋ
Name[pap]=Install Multimedia Codecs
Name[pl]=Zainstaluj kodeki multimediów
Name[pt]=Instalar codificadores multimédia
Name[pt_BR]=Instalar Codecs Multimídia
Name[pt_PT]=Instalar codificadores multimédia
Name[ro]=Instalare Codecuri Multimedia
Name[ru]=Установка мультимедиа кодеков
Name[si]=Install Multimedia Codecs
Name[sk]=Nainštalovať multimediálne kodeky
Name[sl]=Namesti predstavne kodeke
Name[so]=Shub Koodhekiska Multimeedhiyaha
Name[sq]=Instalo Kodekset Multimedia
Name[sr]=Инсталација мултимедијалних кодека
Name[sr@ijekavianlatin]=Инсталација мултимедијалних кодека
Name[sr@latin]=Instaliraj Multimedijalne Kodeke
Name[su]=Pasang Multimedia Codecs
Name[sv]=Installera Multimedia-codecs
Name[ta]=பல்லூடக கோடெக்குகளை நிறுவு
Name[te]=బహుళమాధ్యమ కొడెక్‌లను స్థాపించు
Name[th]=Install Multimedia Codecs
Name[tl]=I-install ang mga Multimedia Codec
Name[tpi]=Install Multimedia Codecs
Name[tr]=Çoklu Ortam Çözücülerini Kur
Name[uk]=Встановити мультимедійні кодеки
Name[ur]=ملٹیمیڈیا کوڈیک انسٹال کریں
Name[vi]=Cài đặt các Bộ mã Đa phương tiện
Name[yi]=Install Multimedia Codecs
Name[zh_CN]=安装多媒体编解码器
Name[zh_HK]=安裝多媒體解碼器
Name[zh_TW]=安裝多媒體編解碼器
Comment=Add all the missing multimedia codecs
Comment[af]=Voeg by alle verlore multimedia codecs
Comment[am]=መጨመሪያ የጎደሉ የመልቲሚዲያ ኮዴክስ
Comment[ar]=اضافة كل رموز الوسائط المتعددة المفقودة
Comment[ast]=Amestar tolos códecs multimedia que falten
Comment[be]=Дадаць ўсе прапушчаныя кодэкі мультымедыя
Comment[be@latin]=Дадаць ўсе прапушчаныя кодэкі мультымедыя
Comment[bg]=Добавяне на всички липсващи мултимедийни кодеци
Comment[bn]=বাদ পড়া সব মাল্টিমিডিয়া কোডেকসমূহ যুক্ত করুন
Comment[bn_IN]=বাদ পড়া সব মাল্টিমিডিয়া কোডেকসমূহ যুক্ত করুন
Comment[bs]=Dodaj sve nedostajeće multimedijalne kodeke
Comment[ca]=Afegir tots els còdecs que manquen
Comment[ca@valencia]=Afegir tots els còdecs que manquen
Comment[cs]=Přidat chybějící multimediální kodeky
Comment[csb]=Dodôj wszëtczé felëjacé kòdeczi mùltimediów
Comment[cy]=Ychwanegu'r holl codecs amlgyfrwng coll
Comment[da]=Tilføj alle manglende multimediecodecs
Comment[de]=Alle fehlenden Multimedia-Codecs hinzufügen
Comment[el]=Πρόσθεσε όλους τους αποκωδικοποιητές πολυμέσων που λείπουν
Comment[en_AU]=Add all the missing multimedia codecs
Comment[en_CA]=Add all the missing multimedia codecs
Comment[en_GB]=Add all the missing multimedia codecs
Comment[eo]=Aldoni ĉiujn mankantajn multmediajn kodekojn
Comment[es]=Añadir todos los códecs multimedia que falten
Comment[es_AR]=Añadir todos los códecs multimedia que falten
Comment[et]=Kõigi puuduvate multimeediakoodekite lisamine
Comment[eu]=Gehitu falta diren multimedia kodek guztiak
Comment[fa]=افزودن همه کدک‌های (Codecs) چندرسانه‌ای مفقود
Comment[fi]=Lisää kaikki puuttuvat multimediakoodekit
Comment[fo]=Legg inn øll væntandi margmiðla kotek
Comment[fr]=Ajouter les codecs manquants
Comment[fr_CA]=Ajouter tous les codecs multimédia manquants
Comment[ga]=Cuir leis na cóideiceanna ilmheánacha uile atá in easnamh
Comment[gd]=Cuir na h-uile codec-ean ioma-meadhanach a tha a dhìth
Comment[gl]=Engadir todos os códecs multimedia que falten
Comment[gv]=Add all the missing multimedia codecs
Comment[he]=הוסף את הקודקים החסרים על מנת להפעיל את קבצי המולטימדיה שלך.
Comment[hi]=Add all the missing multimedia codecs
Comment[hr]=Dodaj sve multimedijske kôdeke koji nedostaju
Comment[hu]=Az összes hiányzó multimédia kodek hozzáadása
Comment[hy]=Add all the missing multimedia codecs
Comment[ia]=Add all the missing multimedia codecs
Comment[id]=Tambahkan semua multimedia codecs yang diperlukan
Comment[is]=Bæta við öllum kóðunarlyklum fyrir margmiðlun
Comment[it]=Aggiungi tutti i codec multimediali mancanti
Comment[ja]=インストールされていないマルチメディアコーデックをすべて追加します
Comment[jv]=Tambahno sakkabehane sing dibutuhke multimedia kodek
Comment[ka]=Add all the missing multimedia codecs
Comment[kk]=Add all the missing multimedia codecs
Comment[kn]=Add all the missing multimedia codecs
Comment[ko]=없는 멀티미디어 코덱 추가
Comment[ky]=Бардык жетишпеген мультимедиа кодектерди орнотуу
Comment[la]=Add all the missing multimedia codecs
Comment[lb]=All dei feelend Multimedia Codecs beisetzen
Comment[lt]=Pridėti visus trūkstamus multimedios kodekus
Comment[lv]=pievienot visus trūkstošos multimēdiju kodeksus
Comment[mg]=Add all the missing multimedia codecs
Comment[mk]=Add all the missing multimedia codecs
Comment[ml]=വിട്ടുപോയ മൾട്ടിമീഡിയ കോഡെക്സ് കൂട്ടിച്ചേർക്കുക
Comment[mr]=गहाळ असणारे सर्व मल्टीमिडिया कोडेक्स प्रस्थापित करा
Comment[ms]=Tambah semua kodek multimedia yang hilang
Comment[nb]=Legg til alle manglende multimediakodeker
Comment[nds]=Füge alle fehlenden Multimedia Codecs hinzu
Comment[ne]=अरु सबै मल्तिमिडिया कोदेक इन्स्टल गर
Comment[nl]=Alle ontbrekende multimediacodecs toevoegen
Comment[nn]=Legg til alle multimediakodekar som manglar
Comment[oc]=Add all the missing multimedia codecs
Comment[om]=Kodeekiiwwan suursagalee dhabaman ida'i
Comment[pa]=ਸਭ ਗੁੰਮ ਮਲਟੀਮੀਡਿਆ codecs ਸ਼ਾਮਲ ਕਰੋ
Comment[pap]=Add all the missing multimedia codecs
Comment[pl]=Dodaj wszystkie brakujące kodeki multimediów
Comment[pt]=Adicionar todos os codificadores multimédia em falta
Comment[pt_BR]=Adicionar todos os codecs multimídia ausentes
Comment[pt_PT]=Adicionar todos os codificadores multimédia em falta
Comment[ro]=Adaugă toate codecurile multimedia lipsă
Comment[ru]=Добавить все пропущенные мультимедиа кодеки
Comment[si]=Add all the missing multimedia codecs
Comment[sk]=Pridať všetky chýbajúce multimediálne kodeky
Comment[sl]=Dodaj vse manjkajoče predstavne kodeke
Comment[so]=Kudar dhamaan multimeedhiya koodhekiska maqan
Comment[sq]=Shto të gjithë kodeksët multimedia që mungojnë
Comment[sr]=Додај све недостајуће мултимедијалне кодеке
Comment[sr@ijekavianlatin]=Додај све недостајуће мултимедијалне кодеке
Comment[sr@latin]=Dodati sve nepostojeće kodeke
Comment[su]=Tambahkeun sakabeh multimedia codecs nu diperlukeun
Comment[sv]=Lägg till alla saknade multimedia-codecs
Comment[ta]=அனைத்து விடுபட்ட பல்லூடக கோடெக்குகளையும் சேர்
Comment[te]=తప్పిపోయిన బహుళమాధ్యమ కొడెక్‌లను అన్నిటినీ జతచేయి
Comment[th]=Add all the missing multimedia codecs
Comment[tl]=Idagdag ang lahat ng kulang na mga multimedia codec
Comment[tpi]=Add all the missing multimedia codecs
Comment[tr]=Tüm eksik çoklu ortam çözücülerini ekle
Comment[uk]=Додати відсутні мультимедійні кодеки
Comment[ur]=تمام غیر موجود ملٹیمیڈیا کوڈیک انسٹال کریں
Comment[vi]=Thêm tất cả các bộ mã đa phương tiện còn thiếu
Comment[yi]=Add all the missing multimedia codecs
Comment[zh_CN]=添加所有缺失的多媒体编解码器
Comment[zh_HK]=添加所有缺少的多媒體解碼器
Comment[zh_TW]=加入所有遺漏的多媒體編解碼器
