[Desktop Entry]
Name=Welcome Screen
Name[da]=Velkomstskærm
Name[vi]=Màn hình Chào mừng
Name[te]=Welcome Screen
Name[en_AU]=Welcome Screen
Name[ja]=Welcome Screen
Name[ko]=Welcome Screen
Name[eo]=Welcome Screen
Name[lv]=Welcome Screen
Name[ro]=Welcome Screen
Name[tl]=Welcome Screen
Name[ast]=Welcome Screen
Name[mr]=Welcome Screen
Name[bg]=Welcome Screen
Name[ru]=Экран приветствия
Name[uk]=Екран привітання
Name[pa]=ਜੀ ਆਇਆਂ ਨੂੰ ਸਕਰੀਨ
Name[ml]=Welcome Screen
Name[zh_TW]=歡迎視窗
Name[sq]=Welcome Screen
Name[pt_BR]=Bem vindo
Name[sl]=Welcome Screen
Name[kn]=Welcome Screen
Name[he]=Welcome Screen
Name[fo]=Welcome Screen
Name[nn]=Welcome Screen
Name[hu]=Welcome Screen
Name[es]=Pantalla de bienvenida
Name[bs]=Ekran dobrodošlice
Name[ta]=Welcome Screen
Name[pt]=Ecrã de Boas-vindas
Name[fr]=Écran d'accueil
Name[nl]=Welkomstscherm
Name[fi]=Tervetuloa näyttö
Name[ar]=شاشة الترحيب
Name[hy]=Welcome Screen
Name[en_CA]=Welcome Screen
Name[fa]=Welcome Screen
Name[cs]=Welcome Screen
Name[ca]=Pantalla de benvinguda
Name[be]=Welcome Screen
Name[nds]=Welcome Screen
Name[mk]=Welcome Screen
Name[pap]=Welcome Screen
Name[gl]=Pantalla de benvida
Name[oc]=Welcome Screen
Name[eu]=Ongi etorri pantaila
Name[am]=እንኳን ደህና መጡ
Name[gv]=Welcome Screen
Name[el]=Οθόνη Καλωσορίσματος
Name[zh_HK]=Welcome Screen
Name[id]=Welcome Screen
Name[nb]=Welcome Screen
Name[jv]=Welcome Screen
Name[it]=Welcome Screen
Name[sk]=Welcome Screen
Name[si]=Welcome Screen
Name[csb]=Welcome Screen
Name[hi]=Welcome Screen
Name[sr@latin]=Welcome Screen
Name[hr]=Welcome Screen
Name[de]=Willkommensbildschirm
Name[th]=Welcome Screen
Name[tr]=Hoşgeldiniz Ekranı
Name[lb]=Welcome Screen
Name[bn]=ওয়েলকাম স্ক্রিন
Name[af]=Welcome Screen
Name[ur]=Welcome Screen
Name[en_GB]=Welcome Screen
Name[zh_CN]=Welcome Screen
Name[cy]=Welcome Screen
Name[et]=Tervituskuva
Name[pt_PT]=Ecrã de Boas-vindas
Name[sr]=Welcome Screen
Name[pl]=Ekran powitalny
Name[ms]=Skrin Aluan
Name[is]=Upphafsskjár
Name[kk]=Welcome Screen
Name[sv]=Välkomstskärm
Name[lt]=Welcome Screen
GenericName=Introduction to Linux Mint
GenericName[da]=Introduktion til Linux Mint
GenericName[vi]=Giới thiệu Linux Mint
GenericName[te]=Introduction to Linux Mint
GenericName[en_AU]=Introduction to Linux Mint
GenericName[ja]=Linux Mint のご紹介
GenericName[ko]=리눅스 민트 소개
GenericName[eo]=Introduction to Linux Mint
GenericName[lv]=Introduction to Linux Mint
GenericName[ro]=Introduction to Linux Mint
GenericName[tl]=Introduction to Linux Mint
GenericName[ast]=Introduction to Linux Mint
GenericName[mr]=Introduction to Linux Mint
GenericName[bg]=Introduction to Linux Mint
GenericName[ru]=Введение в Linux Mint
GenericName[uk]=Знайомство з Linux Mint
GenericName[pa]=ਲੀਨਕਸ ਮਿਟ ਨਾਲ ਜਾਣ ਪਛਾਣ
GenericName[ml]=Introduction to Linux Mint
GenericName[zh_TW]=Linux Mint 的介紹
GenericName[sq]=Introduction to Linux Mint
GenericName[pt_BR]=Introdução ao Linux Mint
GenericName[sl]=Introduction to Linux Mint
GenericName[kn]=Introduction to Linux Mint
GenericName[he]=Introduction to Linux Mint
GenericName[fo]=Introduction to Linux Mint
GenericName[nn]=Introduction to Linux Mint
GenericName[hu]=Introduction to Linux Mint
GenericName[es]=Introducción a Linux Mint
GenericName[bs]=Uvod u Linux Mint
GenericName[ta]=Introduction to Linux Mint
GenericName[pt]=Introdução ao Linux Mint
GenericName[fr]=Introduction à Linux Mint
GenericName[nl]=Introductie van Linux Mint
GenericName[fi]=Linux Mint Esittely
GenericName[ar]=مقدمة لـ Linux Mint
GenericName[hy]=Introduction to Linux Mint
GenericName[en_CA]=Introduction to Linux Mint
GenericName[fa]=Introduction to Linux Mint
GenericName[cs]=Introduction to Linux Mint
GenericName[ca]=Introducció a Linux Mint
GenericName[be]=Introduction to Linux Mint
GenericName[nds]=Introduction to Linux Mint
GenericName[mk]=Introduction to Linux Mint
GenericName[pap]=Introduction to Linux Mint
GenericName[gl]=Introdución a Linux Mint
GenericName[oc]=Introduction to Linux Mint
GenericName[eu]=Linux Mint-era sarrera
GenericName[am]=ሊነክስ ሚንትን ይተዋወቁ
GenericName[gv]=Introduction to Linux Mint
GenericName[el]=Εισαγωγή στο Linux Mint
GenericName[zh_HK]=Introduction to Linux Mint
GenericName[id]=Introduction to Linux Mint
GenericName[nb]=Introduction to Linux Mint
GenericName[jv]=Introduction to Linux Mint
GenericName[it]=Introduction to Linux Mint
GenericName[sk]=Introduction to Linux Mint
GenericName[si]=Introduction to Linux Mint
GenericName[csb]=Introduction to Linux Mint
GenericName[hi]=Introduction to Linux Mint
GenericName[sr@latin]=Introduction to Linux Mint
GenericName[hr]=Introduction to Linux Mint
GenericName[de]=Einführung in Linux Mint
GenericName[th]=Introduction to Linux Mint
GenericName[tr]=Linux Mint'e Giriş
GenericName[lb]=Introduction to Linux Mint
GenericName[bn]=লিনাক্স মিন্ট পরিচিতি
GenericName[af]=Introduction to Linux Mint
GenericName[ur]=Introduction to Linux Mint
GenericName[en_GB]=Introduction to Linux Mint
GenericName[zh_CN]=Introduction to Linux Mint
GenericName[cy]=Introduction to Linux Mint
GenericName[et]=Sissejuhatus Linux Minti
GenericName[pt_PT]=Introdução ao Linux Mint
GenericName[sr]=Introduction to Linux Mint
GenericName[pl]=Wprowadzenie do Linux Mint
GenericName[ms]=Pengenalan ke Linux Mint
GenericName[is]=Kynning á Linux Mint
GenericName[kk]=Introduction to Linux Mint
GenericName[sv]=Introduktion till Linux Mint
GenericName[lt]=Introduction to Linux Mint
Comment=Introduction to Linux Mint
Comment[da]=Introduktion til Linux Mint
Comment[vi]=Giới thiệu Linux Mint
Comment[te]=Introduction to Linux Mint
Comment[en_AU]=Introduction to Linux Mint
Comment[ja]=Linux Mint のご紹介
Comment[ko]=리눅스 민트 소개
Comment[eo]=Introduction to Linux Mint
Comment[lv]=Introduction to Linux Mint
Comment[ro]=Introduction to Linux Mint
Comment[tl]=Introduction to Linux Mint
Comment[ast]=Introduction to Linux Mint
Comment[mr]=Introduction to Linux Mint
Comment[bg]=Introduction to Linux Mint
Comment[ru]=Введение в Linux Mint
Comment[uk]=Знайомство з Linux Mint
Comment[pa]=ਲੀਨਕਸ ਮਿਟ ਨਾਲ ਜਾਣ ਪਛਾਣ
Comment[ml]=Introduction to Linux Mint
Comment[zh_TW]=Linux Mint 的介紹
Comment[sq]=Introduction to Linux Mint
Comment[pt_BR]=Introdução ao Linux Mint
Comment[sl]=Introduction to Linux Mint
Comment[kn]=Introduction to Linux Mint
Comment[he]=Introduction to Linux Mint
Comment[fo]=Introduction to Linux Mint
Comment[nn]=Introduction to Linux Mint
Comment[hu]=Introduction to Linux Mint
Comment[es]=Introducción a Linux Mint
Comment[bs]=Uvod u Linux Mint
Comment[ta]=Introduction to Linux Mint
Comment[pt]=Introdução ao Linux Mint
Comment[fr]=Introduction à Linux Mint
Comment[nl]=Introductie van Linux Mint
Comment[fi]=Linux Mint Esittely
Comment[ar]=مقدمة لـ Linux Mint
Comment[hy]=Introduction to Linux Mint
Comment[en_CA]=Introduction to Linux Mint
Comment[fa]=Introduction to Linux Mint
Comment[cs]=Introduction to Linux Mint
Comment[ca]=Introducció a Linux Mint
Comment[be]=Introduction to Linux Mint
Comment[nds]=Introduction to Linux Mint
Comment[mk]=Introduction to Linux Mint
Comment[pap]=Introduction to Linux Mint
Comment[gl]=Introdución a Linux Mint
Comment[oc]=Introduction to Linux Mint
Comment[eu]=Linux Mint-era sarrera
Comment[am]=ሊነክስ ሚንትን ይተዋወቁ
Comment[gv]=Introduction to Linux Mint
Comment[el]=Εισαγωγή στο Linux Mint
Comment[zh_HK]=Introduction to Linux Mint
Comment[id]=Introduction to Linux Mint
Comment[nb]=Introduction to Linux Mint
Comment[jv]=Introduction to Linux Mint
Comment[it]=Introduction to Linux Mint
Comment[sk]=Introduction to Linux Mint
Comment[si]=Introduction to Linux Mint
Comment[csb]=Introduction to Linux Mint
Comment[hi]=Introduction to Linux Mint
Comment[sr@latin]=Introduction to Linux Mint
Comment[hr]=Introduction to Linux Mint
Comment[de]=Einführung in Linux Mint
Comment[th]=Introduction to Linux Mint
Comment[tr]=Linux Mint'e Giriş
Comment[lb]=Introduction to Linux Mint
Comment[bn]=লিনাক্স মিন্ট পরিচিতি
Comment[af]=Introduction to Linux Mint
Comment[ur]=Introduction to Linux Mint
Comment[en_GB]=Introduction to Linux Mint
Comment[zh_CN]=Introduction to Linux Mint
Comment[cy]=Introduction to Linux Mint
Comment[et]=Sissejuhatus Linux Minti
Comment[pt_PT]=Introdução ao Linux Mint
Comment[sr]=Introduction to Linux Mint
Comment[pl]=Wprowadzenie do Linux Mint
Comment[ms]=Pengenalan ke Linux Mint
Comment[is]=Kynning á Linux Mint
Comment[kk]=Introduction to Linux Mint
Comment[sv]=Introduktion till Linux Mint
Comment[lt]=Introduction to Linux Mint
Exec=mintwelcome
Icon=/usr/lib/linuxmint/mintWelcome/templates/welcome-logo.png
Terminal=false
Type=Application
Encoding=UTF-8
OnlyShowIn=KDE;
Categories=System;
StartupNotify=false
